.App {
    display: flex;
    justify-content: center;
}

.page-content {
    width: 80%;
    margin-top: 3%;
}

.form-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.form-group {
    margin-right: 10px;
}

.title {
    margin-bottom: 30px;
}
.form {
    // width: 70%;
}

.table-container {
    // display: flex;
    // justify-content: center;
}

.player-table {
    // width: 70%;
}
